#:schema node_modules/wrangler/config-schema.json
name = "aloy"
main = "src/index.ts"
compatibility_date = "2024-08-21"

[vars]
ALLOW_ORIGINS = "*"

ASSETS_BASE_URL = "https://assets.aloy.com"

ATTACHMENT_MAX_COUNT = "3"
ATTACHMENT_MAX_SIZE = "100kb"
ATTACHMENT_SUPPORTED_TYPES = "image/gif,image/jpeg,image/png,image/webp"

[[d1_databases]]
binding = "DB"
database_name = "aloy"
database_id = "DATABASE_ID"
migrations_table = "migrations"
migrations_dir = "../migrations"

[[r2_buckets]]
binding = "Bucket"
bucket_name = "aloy"
