#:schema node_modules/wrangler/config-schema.json
name = "aloy"
main = "src/index.ts"
compatibility_date = "2024-08-21"

[vars]
ALLOW_ORIGINS = "*"

[[d1_databases]]
binding = "DB"
database_name = "aloy"
database_id = "DATABASE_ID"
migrations_table = "migrations"
migrations_dir = "../migrations"
